.box{
font-size: 0;
display: inline-block;
margin-left: auto;
margin-right: auto;
height:500px;
width:800px;
}

.top{
border: solid black;
border-width: 1px;
height:200px;
}

.topBoxL{
background-color: green;
width: 50%;
}

.topBoxR{
background-color: blue;
width:200px;
}

.Lower{
	border: solid black 1px;
	height:300px;
}

.LowerBoxL{
background-color: grey;
width:200px;
}

.LowerBoxMid{
background-color: black;
width: 200px;
}

.LowerBoxR{
background-color: orange;
width: 33%;
}