nav{
	position: relative;
	padding-right: 60px;
	padding-left: 60px;
	height: 50px;
	background-color: grey;
	width: cover;
}

.logo{
border-radius: 50px;
position: absolute;
left: 10px;
top: 5px;
height: 30px;
border: 1px solid black;
}

.list{
	list-style: "|";
	display: inline;
	margin-left: 10px; 
}

.container{
	margin-top: 100px;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height: 300px;
	border: 10px green dotted;
	position: relative;
}

.dog{
	position: absolute;
	height:200px;
	width: 200px;
	right: -70px;
	bottom:-80px;
}

.cat{
	position: absolute;
	height: 200px;
	width: 200px;
	left: -70px;
	top: -80px;
}

.background{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}
